In [5]:
import pandas as pd
s=pd.Series(['a',1,3.5,'new'])
s

3.5

In [11]:
df=pd.DataFrame({
    'name':['rob','stark','jaimy','luna'],
    'age':[23,55,18,32],
    'zip code':[123,456,789,122]
})
df

    name  age  zip code
0    rob   23       123
1  stark   55       456
2  jaimy   18       789
3   luna   32       122

In [14]:
df['zip code']

0    123
1    456
2    789
3    122
Name: zip code, dtype: int64

In [19]:
table=pd.read_csv("/home/billion/extractor_configs_old_202205041714.csv")
table

,id,name,doc_type,valid_pages,source_page_resolution,key_type,key_regex,key_position,key_level,value_type,...,format_regex,config_set,top_limiter,bottom_limiter,left_limiter,right_limiter,confidence_score,capture_index,priority,enabled
0,1,BrwName,Uniform_Residential_Loan_Application,all,800,variable,"^B[\w\W]{1,10}\sName","584,5648,1816,5773",line,text,...,NaN,Nextgen,NaN,NaN,NaN,NaN,100,0,5,True
1,2,BrwName2,Uniform_Residential_Loan_Application,all,800,variable,(?i)c[\w -]{2}b[\w â€™|'\/\\-]{9}\sn[\w]{3},"853,1435,1020,1533",line,text,...,NaN,Nextgen,NaN,NaN,NaN,NaN,100,0,5,True
2,3,DateofBirth,Uniform_Residential_Loan_Application,all,800,variable,Home Phone,"1694,5797,3255,5945",line,text,...,NaN,Nextgen,NaN,NaN,NaN,NaN,100,0,5,True
3,4,DateofBirth,Uniform_Residential_Loan_Application,all,800,variable,DOB,"1694,5797,3627,5945",line,text,...,NaN,Nextgen,NaN,NaN,NaN,NaN,100,0,5,True
4,5,HomePhone,Uniform_Residential_Loan_Application,1,800,variable,^Social Security Number,"559,5993,1846,6129",line,text,...,NaN,Nextgen,NaN,NaN,NaN,NaN,100,0,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1557,grantor,Deed,0||1,200,variable,(?i)^GRANTOR|DENTON - THAT|Name of Decedent:|I...,"38,1425,683,1555",line,text,...,NaN,Fluid,NaN,NaN,NaN,NaN,70,0,15,True
1091,1561,grantor,Deed,0||1,200,variable,(?i)warrant\(?s\)?\s* to|[\d]{4}[\W]?\sby|VALU...,"38,1425,683,1555",line,text,...,NaN,Fluid,NaN,NaN,NaN,NaN,70,0,16,True
1092,1619,grantor,Deed,0||1,200,variable,(?i)(presents\W+that\s1\W+|hereby\sacknowledge...,"80,734,1554,996",line,text,...,NaN,Fluid,"(?i)or\swe\,",NaN,NaN,NaN,70,0,15,True
1093,1617,grantor,Deed,0||1||2,200,variable,(?i)(this\swarranty\sdeed\smade.*by\s|county.*...,"111,837,1481,1024",line,text,...,NaN,Fluid,NaN,NaN,NaN,NaN,70,0,10,True
1094,1412,property_address,Deed,0,200,variable,(?i)commonly\sknown as[\W]|This is improved pr...,"109,764,358,832",line,text,...,NaN,Fluid,(?i)Records\sof\sOrange|public\sacts|same\sas\...,(?i)(property\swith\sappurtenances|transfer\st...,NaN,NaN,70,0,5,True

In [26]:
tb=pd.read_table("https://bit.ly/movieusers",sep='|',header=None)
tb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       943 non-null    int64
 1   1       943 non-null    int64
 2   2       943 non-null    object
 3   3       943 non-null    object
 4   4       943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB